*{
	top:0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	width: 100%;
}
#img_header{
	float: left;
	margin-top: 45px;
	    margin-left: 45px;
}
#seccion6 h2{
	color:#004429;
	    font-size: 25px;
	    margin-bottom: 20px;
}
#columna3 h4{
	font-size: 15px;
}
#columna3 img{
	display: inline-block;
	width: 90px;
	height: 15px;
	cursor: pointer;
}
.boton{
	background-color: #004429;
	color:white;
	border-radius: 0.2em;
    padding: 5px;
    cursor: pointer;
}
.vinieta1{
	list-style-image: url('/img/vinieta1.png');
	height: 50px;
	margin-left: 15px;

}
#columna2 ul>li{
	margin-bottom: 35px;
	width: 125px;
}
.cuadroV{
	list-style-image: url('/img/cuadroV.png');

}
.vinieta2{
	list-style-image: url('/img/vinieta2.png');
	margin-left: 15px;

}
.vinieta3{
	list-style-image: url('/img/vinieta3.png');
	margin-left: 15px;

}
.vinieta4{
	list-style-image: url('/img/vinieta4.png');
	margin-left: 15px;

}
.vinieta5{
	list-style-image: url('/img/vinieta5.png');
	margin-left: 15px;

}
.vinieta6{
	list-style-image: url('/img/vinieta6.png');
	margin-left: 15px;

}
header{
	display: inline-block;
	width: 100%;
	/*height: 150px;*/
	background-color:white;
	color: #004429;
}
#cuadros{
	display: inline-block;
	   width: 70%;
	 
    padding: 0 10% 0 10%;
}
.cuadros{
	display: inherit;
	/*width: 20%;*/
	width: 200px;
	margin-left: 15px;
}
.cuadros img {
    width: 100%;
}

#seccion3 h3{
	text-align: center;
}
#cuadro1,#cuadro2,#cuadro3,#cuadro4{
	/*width: 24%;
	height: 70%;*/
	display: inline-block;
	    margin-left: 30px;
}
#fecha,#actividad{
	border:1px solid white;
	padding: 5px 15px;
	border-radius: .2em;
	background-color: transparent;
	color:white;
	float: left;
}
#informacion_header img{
	border-radius: 2em;
	width: 25px;
	height: 25px;
}
#contact{
	color: #AD8B65;
}
 #home:hover,#activities:hover,#restaurant:hover,#gallery:hover,#ptov:hover,#blog:hover,#ejido:hover{
background-color: #004429;
color:white;
cursor: pointer;
}
#lenguaje{
	border: 1px solid black;
}
#seccion2 h2{
	margin-top: 30px;
}
span{
	padding: 5px 0;
	margin-right: 5px;
}
footer{
	width: 100%;
	height: 200px;
	background-color: #98C223;
	color: white;
    text-align: center;
    float: left;
}
#visualizador{
	width: 100%;
	height: 400px;
	background-color: black;
}
#informacion_header{
	 float: right;
    width: 70%;
    text-align: right;
        margin: 25px;
}
#menu_header{
	float: right;
}
#visualizador img{
	width: 100%;
	height: 100%;
}
#seccion7 img{
	display: inline-block;
	height: 100%;
	width: 45%;
}
.sub{
	color: #004429;
}
.circulos{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.circulos img {
    width: 100%;
}
#seccion1{
	width: 100%;
	/*height: 100px;*/
	padding-bottom: 20px;
	background-color: #EC9A21;
	color:white;

}

#seccion1 span:not(#mensaje), #seccion1 img,#seccion1 select{
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}
#mensaje{
	background-color: white;
	display: inline-block;
	margin-left: 40px;
	color:black;
	border-radius: 0 0 0.5em 0.5em;
	width: 150px;
	height: 50px;
	float: left;

}
#circulo1{
	display: inline-block;
width: 49%;
height: 300px;
}
#circulo1 img{
height: 80%;
}
#circulo2 img{
height: 80%;
}
#columna1,#columna2,#columna3{
	display: inline-block;
	    float: left;
	    width: 400px;
	/*width: 30%;
	height: 100%;*/
}
#circulo2{
	display: inline-block;
width: 49%;
height: 300px;
}
footer span{
	display: block;
	width: 100%;
}
#seccion4 span{
	display: block;
	width: 100%;
}
#seccion2{
	width: 100%;
	height: 100px;
	color:white;
	text-align: center;
	background-color: #1E1612;
}
#seccion3{
	width: 100%;
	text-align: center;
	/*height: 300px;*/
	background-color: #E3DDD2;
}
#seccion4{
	width: 100%;
	height: 250px;
	background-color: #84A249;
	color: white;
    text-align: center;
}
#seccion5{
	width: 100%;
	/*height: 250px;*/
	text-align: center;
	background-color: white;
}
#seccion6{
	width: 100%;
	/*height: 400px;*/
	background-color: #E3DDD2;
}
#seccion7{
	width: 100%;
	text-align: center;
	height: 400px;
	background-color: #28472F;

}
#seccion8{
	width: 100%;
	height: 200px;
	background-color: #84A249;
	text-align: center;
}
#seccion8 span{
	margin-left: 20px;
	font-size: 18px;
}
#seccion9{
	width: 100%;
	text-align: center;
	/*height: 800px;*/
	background-color: #E3DDD2;
}

#visualizador{
	/*display: inline-block;*/
}
#seccion1,#seccion2,#seccion3,#seccion4,#seccion5,#seccion6,#seccion7,#seccion8,#seccion9{
	display: inline-block;
	float: left;
	/*padding-left: 30px;*/
}
	@media only screen and (max-width:916px){
		#informacion_header{
		
			margin-left: 5px;
			margin-right: 5px;
			
		}}
@media only screen and (max-width:894px){
	#seccion1 img{
		width: 25px;
	}

	}
	@media only screen and (max-width:767px){
		#informacion_header{
			float: left;
			width: 100%;
			margin-left: 5px;
			margin-right: 5px;
			text-align: left;
		}
		#img_header{
			text-align: center;
			float: none;
			margin-top: 15px;
		}
		#visualizador{
			height: 400px;
		}
	#seccion7 img{
		width: 80%;
		height: 350px;
	}
	#seccion7{
		height: auto;
	}
	}
	@media only screen and (max-width:646px){
		#visualizador{
			height: 300px;
		}
	#circulo1{
		width: 100%;
	}
	#circulo2{
		width: 100%;
	}
	}
